[submodule "build_resources/essentia"]
	path = build_resources/essentia
	url = https://github.com/xiaden/essentia.git
	branch = nomarr
[submodule "code-intel"]
	path = code-intel
        url = https://github.com/xiaden/code-intel.git
